@model ApplyDetailListViewModel
@inject IAbilityRepository abilityRepository
@inject IApplyDetailAbilityRepository applyDetailAbilityRepository
@inject IInterviewScheduleRepository interviewScheduleRepository
@inject IInterviewResultRepository interviewResultRepository
@inject IOperatorRepository operatorRepository
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Apply Detail List";
}

<div class="card">
    <div class="card-header bg-info text-white">Apply Detail List</div>
    <div class="card-body">
        <div class="card-text">
            <form class="mx-auto form-inline my-3" method="post" id="filterForm">
                <div class="form-group">
                    <label asp-for="FromDate">From Date</label>
                    <input asp-for="FromDate" class="form-control form-control-sm mx-3" type="date" id="fromDate">
                </div>
                <div class="form-group">
                    <label asp-for="ToDate">To Date</label>
                    <input asp-for="ToDate" class="form-control form-control-sm mx-3" type="date" id="toDate">
                </div>
                @*<div class="form-group">
                        <label asp-for="Status">Status</label>
                        <select asp-for="Status" class="form-control form-control-sm mx-3">
                            <option value="All" selected>All</option>
                            <optgroup label="CV Status">
                                <option value="CVPending">CV Pending</option>
                                <option value="CVPassed">CV Passed</option>
                                <option value="CVFailed">CV Failed</option>
                            </optgroup>

                            <optgroup label="Interview Status">
                                <option value="InterviewNotScheduled">Interview Not Scheduled</option>
                                <option value="InterviewPassed">Interview Passed</option>
                                <option value="InterviewFailed">Interview Failed</option>
                            </optgroup>
                        </select>
                    </div>*@
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-outline-primary mx-3">Filter</button>
                    <a asp-controller="Admin" asp-action="ApplyDetailList">Clear</a>
                </div>
            </form>

            <table class="table table-bordered table-hover w-100 table-sm" id="applyDetailListTable">
                <thead>
                    <tr>
                        <th scope="col">Apply Date</th>
                        <th scope="col">Candidate Name</th>
                        <th scope="col">Requirement</th>
                        <th scope="col">Recruit Amount</th>
                        <th scope="col">Expected Salary</th>
                        <th scope="col">Worked Time</th>
                        <th scope="col">Operator Mark</th>
                        <th scope="col">CV</th>
                        <th scope="col">Interview</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var applyDetail in Model.ApplyDetails)
                    {
                        var candidate = applyDetail.Apply.Candidate;
                        var applyDetailAbilities = applyDetailAbilityRepository.GetApplyDetailAbility(applyDetail.ApplyDetailId);
                        var interviewSchedule = interviewScheduleRepository.GetInterviewScheduleByApplyDetailId(applyDetail.ApplyDetailId).LastOrDefault();
                        bool canEvaluate = false;
                        if (interviewSchedule != null)
                        {
                            canEvaluate = !interviewResultRepository.GetInterviewResultByInterviewID(interviewSchedule.InterviewId).Any(ir => ir.Point == 0) && User.IsInRole("Manager");
                        }
                        <tr>
                            <td>@FormatHelper.FormatDate(applyDetail.ApplyDate)</td>
                            <td>@candidate.FullName</td>
                            <td><a target="_blank" asp-controller="Home" asp-action="RequirementDetail" asp-route-id="@applyDetail.RequirementId">@applyDetail.Requirement.Title</a></td>
                            <td>@applyDetail.Requirement.RecruitAmount employee</td>
                            <td>@FormatHelper.FormatCurrency(applyDetail.ExpectedSalary)</td>
                            <td>@applyDetail.WorkedTime year</td>
                            <td class="text-nowrap">
                                <ul class="list-unstyled">
                                    @foreach (var applyDetailAbility in applyDetailAbilities)
                                    {
                                        <li class="d-block">
                                            <div class="d-inline-block">
                                                <p class="mb-0" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100px;">@applyDetailAbility.Ability.AbilityName</p>
                                                <div class="progress" style="height: 12px; width: 100px;">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: @(applyDetailAbility.Point * 10)%;">@applyDetailAbility.Point</div>
                                                </div>
                                            </div>

                                            @foreach (var interviewResult in applyDetailAbility.InterviewResult.OrderBy(ir => ir.OperatorId))
                                            {
                                                <div class="d-inline-block">
                                                    <p class="mb-0" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100px;">@interviewResult.Operator.OperatorName</p>
                                                    <div class="progress" style="height: 12px; width: 100px;">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: @(interviewResult.Point * 10)%;">@interviewResult.Point</div>
                                                    </div>
                                                </div>

                                            }
                                        </li>
                                    }
                                </ul>
                            </td>
                            @await Html.PartialAsync("_ApplyDetailStatusPartial", new ApplyDetailCVViewModel() { Candidate = candidate, ApplyDetail = applyDetail, CanEvaluate = canEvaluate })
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@section Scripts {
}

