@model CandidateListViewModel
@inject ICandidateRepository candidateRepository
@inject IApplyDetailRepository applyDetailRepository
@{
    ViewData["Title"] = "Candidate List";
    
}

<div class="card">
    <div class="card-header bg-info text-white">Candidate List</div>
    <div class="card-body">
        <div class="card-text">
            <table class="table table-bordered table-hover w-100 table-sm" id="candidateListTable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Identity Number</th>
                        <th scope="col">Place Of Birth</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Address</th>
                        <th scope="col">University</th>
                        <th scope="col">Apply Date</th>
                        <th scope="col">Phone</th>
                        <th scope="col">E-mail</th>
                        @*<th scope="col">Avatar</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var candidate in Model.Candidates)
                    {
                        var avatarPath = FormatHelper.FormatCandidateAvatar(candidate.AvatarPath);
                        var lastApplyDetail = applyDetailRepository.GetApplyDetailsByCandidateId(candidate.CandidateId).LastOrDefault();
                        <tr>
                            <td class="text-nowrap">
                                @candidate.FullName
                            </td>
                            <td>@(Convert.ToInt32(System.DateTime.Now.Year) - Convert.ToInt32(candidate.DateOfBirth.Year))</td>
                            <td>@FormatHelper.FormatGender(candidate.Gender)</td>
                            <td>@candidate.IdentityNumber</td>
                            <td>@candidate.PlaceOfBirth</td>
                            <td>@candidate.DateOfBirth.ToString("dd/MM/yyyy")</td>
                            <td>@candidate.Address</td>
                            <td>@candidate.CandidateBackground.College.CollegeName</td>
                            <td>
                                <a class="text-primary font-weight-bold small mx-auto" target="_blank" asp-controller="Admin" asp-action="CandidateApplyDetailList" asp-route-id="@candidate.CandidateId">@(lastApplyDetail != null ? FormatHelper.FormatDate(lastApplyDetail.ApplyDate.Date) : "Not Applied")</a>
                            </td>
                            <td>@candidate.Telephone</td>
                            <td>@candidate.Email</td>
                            @*<td><img class="img-thumbnail w-25" src="@avatarPath" asp-append-version="true" /></td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
}

