@model RequirementViewModel

@inject IRequiredAbilityRepository requiredAbilityRepository
@inject IApplyPositionRepository applyPositionRepository
@inject IApplyPositionAbilityRepository applyPositionAbilityRepository
@{
    ViewData["Title"] = "Edit Requirement";
    var applyPositions = applyPositionRepository.GetApplyPositions();
    var applyPositionAbilityList = applyPositionAbilityRepository.GetApplyPositionAbilities(applyPositions.Select(ap => ap.ApplyPositionId).FirstOrDefault()).Select(apa => apa.Ability);

}

<h2>Edit Requirement</h2>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <input type="hidden" asp-for="Requirement.RequirementId"/>
    <input type="hidden" asp-for="Requirement.CreateTime"/>
    <input type="hidden" asp-for="Requirement.ViewCount"/>
    <div class="card-group">
        <div class="card">
            <div class="card-header bg-info text-white">Requirement</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Requirement.Title">Title</label>
                        <input asp-for="Requirement.Title" class="form-control form-control-sm" value="@Model.Requirement.Title" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Requirement.WorkPlace">Work Place</label>
                        <input asp-for="Requirement.WorkPlace" class="form-control form-control-sm" value="@Model.Requirement.WorkPlace" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="Requirement.ApplyPositionId">Apply Position</label>
                        <select asp-for="Requirement.ApplyPositionId" class="form-control form-control-sm" id="applyPosition">
                            @foreach (var applyPosition in applyPositions)
                            {
                                <option value="@applyPosition.ApplyPositionId" data-id="@applyPosition.ApplyPositionId" selected="@(Model.Requirement.ApplyPositionId == applyPosition.ApplyPositionId ? true : false)">@applyPosition.ApplyPositionName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Requirement.RecruitAmount">Amount</label>
                        <input asp-for="Requirement.RecruitAmount" class="form-control form-control-sm" value="@Model.Requirement.RecruitAmount" min="1" type="number" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Requirement.Language">Language</label>
                        <select asp-for="Requirement.Language" class="form-control form-control-sm">
                            <option selected="@(Model.Requirement.Language == "Any" ? true : false)" value="Any">Any</option>
                            <option selected="@(Model.Requirement.Language == "English" ? true : false)" value="English">English</option>
                            <option selected="@(Model.Requirement.Language == "Vietnamese" ? true : false)" value="Vietnamese">Vietnamese</option>
                            <option selected="@(Model.Requirement.Language == "Japanese" ? true : false)" value="Japanese">Japanese</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Requirement.RecruitFrom">Recruit From</label>
                        <input asp-for="Requirement.RecruitFrom" class="form-control form-control-sm" value="@Model.Requirement.RecruitFrom.ToString("yyyy-MM-dd")" type="date" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Requirement.RecruitTo">Recruit To</label>
                        <input asp-for="Requirement.RecruitTo" class="form-control form-control-sm" value="@Model.Requirement.RecruitTo.ToString("yyyy-MM-dd")" type="date" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Ability</label>
                                <div id="apply-position-ability">
                                    @await Html.PartialAsync("_ApplyPositionAbilityCheckBoxPartial", Model)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Salary</label>
                                @foreach (var salary in Model.SalaryAbilities)
                                {
                                    <div class="form-check">
                                        <input asp-for="SelectedSalaryAbilitiyId" type="radio" value="@salary.AbilityId" class="form-check-input" id="salary@(salary.AbilityId)" checked="@(Model.SelectedSalaryAbilitiyId == salary.AbilityId ? true : false)"/>
                                        <label class="form-check-label" for="salary@(salary.AbilityId)">
                                            @salary.AbilityName
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="col-md-4">
                                <label>Worked Time</label>
                                @foreach (var workedTime in Model.WorkedTimeAbilities)
                                {
                                    <div class="form-check">
                                        <input asp-for="SelectedWorkedTimeAbilitiyId" type="radio" value="@workedTime.AbilityId" class="form-check-input" id="workedTime@(workedTime.AbilityId)" checked="@(Model.SelectedWorkedTimeAbilitiyId == workedTime.AbilityId ? true : false)"/>
                                        <label class="form-check-label" for="workedTime@(workedTime.AbilityId)">
                                            @workedTime.AbilityName
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Requirement.Description">Description</label>
                            <textarea asp-for="Requirement.Description" rows="5" value="@Model.Requirement.Description" class="form-control form-control-sm"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="Requirement.RequireDescription">Require Description</label>
                            <textarea asp-for="Requirement.RequireDescription" rows="5" value="@Model.Requirement.RequireDescription" class="form-control form-control-sm"></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

