@model EditUsersInRoleViewModel
@{
    ViewData["Title"] = "EditUsersInRole";
}

<h3>EditUsersInRole</h3>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.ListUserInRole.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.ListUserInRole[i].UserId" />
                    <input type="hidden" asp-for="@Model.ListUserInRole[i].UserName" />
                    <input asp-for="@Model.ListUserInRole[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.ListUserInRole[i].IsSelected">
                        @Model.ListUserInRole[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-controller="Admin" asp-action="EditRole" asp-route-id="@Model.RoleId"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>